* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Times New Roman'; }

.body__index {
  background: #eef3f4;
  background: linear-gradient(90deg, #eef3f4 0%, #caebed 15%, #c1bbe3 100%); }

.titulo__gral {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: white; }

/* h2 {
    font: size 10px;
    line-height : 25px;
    text-align: justify;
    padding: 2rem;
} */
.h3__index {
  padding: 1rem; }

.quienes__titulo {
  margin-bottom: 1rem; }

.quienes p, .politica p, .lista__valores {
  font-size: 17px; }

.contenedor__quienes, .contenedor__politica {
  padding-bottom: 3rem;
  border: solid;
  margin: auto;
  background-color: beige;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px black;
  margin-bottom: 3rem; }

.contenedor__quienes {
  padding-top: 2rem; }

.politica__titulo {
  margin-top: 1rem; }

.politica__foto, .quienes__foto {
  border-radius: 10%; }

.titulo__servicios {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center; }

.top__servicios {
  height: 500px;
  background-image: url("../imagenes/escritorio.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  background-blend-mode: hard-light; }

.body__servicios {
  background: #eef3f4;
  background: linear-gradient(90deg, #eef3f4 0%, #caebed 15%, #c1bbe3 100%); }

.body__servicios h1 {
  background-color: white;
  color: black; }

.titulo__botones {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: #51838f;
  color: white;
  text-align: center; }

.botones {
  display: flex;
  justify-content: center; }

.boton {
  background-color: #8984d6;
  border: solid;
  color: black;
  border-radius: 8px;
  font-family: 'Times New Roman';
  font-weight: bold;
  width: 12rem;
  height: 5rem;
  font-size: 0.9rem;
  transition: 0.5s;
  margin: auto; }

.fila__botones {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin-left: -2rem; }

.boton__peq {
  background-color: #8984d6;
  border: solid;
  color: black;
  border-radius: 8px;
  width: 6rem;
  height: 4rem;
  font-size: 0.9rem;
  position: relative;
  left: 50%;
  margin-bottom: 7rem;
  margin-top: 3rem; }

.foto__cal, .foto__ma, .foto__seg {
  border-radius: 10%;
  width: 100%; }

.fila__calidad-padding, .fila__ma-padding {
  padding-top: 3rem;
  align-items: center; }

.texto__cal {
  margin-top: -2rem; }

.boton__clientes:hover {
  width: 15rem;
  height: 6rem;
  background-color: #4940d1;
  margin-bottom: 1rem;
  font-size: 1.2rem; }

.foto__ma {
  height: auto;
  border-radius: 4rem;
  padding: 2rem;
  width: auto; }

.texto__ma {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 30rem;
  justify-content: space-around; }

.fila__seg-padding {
  align-items: center; }

.acordeon {
  margin: auto; }

.accordion-button {
  background-color: #46488b;
  color: white; }

.acordeon__item {
  background-color: black;
  transform: scale(0.9); }

.texto__acordeon {
  color: white;
  font-size: 20px; }

.foto__form2 {
  max-height: 16rem;
  width: 80%; }

.foto__form1, .foto__form2 {
  border-radius: 2rem; }

.carousel {
  width: 50%;
  height: auto;
  position: relative;
  margin: auto;
  margin-bottom: 3rem; }

.texto__carousel {
  font-size: 20px;
  background-color: #91b9c2; }

.titulo__inhouse, .titulo__crono {
  background: #e3f1f4;
  background: linear-gradient(90deg, #e3f1f4 50%, #e3f1f4 50%, white 100%); }

.titulo__crono {
  height: 4rem; }

.fila__foto {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #91b9c2; }

.fila__tabla {
  margin-bottom: 3rem; }

.fila__boton__consultar {
  margin-bottom: 1rem; }

.body__clientes, .body__contacto {
  background: #f8feff;
  background: linear-gradient(90deg, #f8feff 0%, #e3f1f4 50%, white 100%); }

.titulo__clientes {
  margin: auto;
  width: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.texto__clientes {
  margin: auto;
  width: 50%;
  margin-bottom: 2rem;
  font-size: larger; }

.foto__clientes {
  display: block;
  margin: auto;
  width: 60%; }

.boton__clientes {
  background-color: #8984d6;
  border: solid;
  color: black;
  border-radius: 8px;
  margin-bottom: 2rem;
  font-family: 'Times New Roman';
  font-weight: bold;
  width: 12rem;
  height: 5rem;
  font-size: 1rem;
  text-align: center;
  transition: 0.8s; }

.boton__consulta-clientes {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }

.foto__logos__clientes {
  display: flex;
  justify-content: center; }

.foto__logos__clientesA, .foto__logos__clientesB {
  max-width: 80vw; }

.body__contacto {
  background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url("../imagenes/chart2.jpg");
  background-repeat: no-repeat;
  background-blend-mode: lighten; }

.datos__ACB {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: black;
  width: 70vw;
  margin: auto;
  background: #eef3f4;
  background: linear-gradient(90deg, #eef3f4 0%, #caebed 15%, #c1bbe3 100%);
  border-radius: 1rem;
  text-align: center; }

.form {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  min-height: 15rem;
  color: black;
  background-color: #eef3f4;
  width: 25rem;
  margin: auto; }

.nombre__form {
  padding: 1rem;
  align-self: right; }

.tel__form {
  padding: 1rem; }

.email__form {
  padding: 1rem; }

.sunken {
  margin: 0px 0px 0px 0px;
  border-bottom: #ffdead solid 2px;
  border-right: #ffdead solid 2px;
  border-left: #c07300 solid 2px;
  border-top: #c07300 solid 2px;
  color: #000000; }

.botones__form, .check__form {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center; }

.resto__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.mensaje {
  padding: 2rem;
  margin-bottom: 3rem; }

.campo__mensaje {
  max-width: 100%; }

.header__contenedor {
  padding-top: 2%;
  padding-bottom: 2%;
  outline-style: solid;
  outline-color: #0f21c9;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #3b3b73 25%, #00d4ff 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  max-width: 22%;
  width: 15rem;
  height: auto;
  cursor: pointer; }

.links__nav {
  justify-content: flex-end; }

.links__nav {
  font-size: 20px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  outline-style: solid;
  outline-color: #0c1ec5;
  height: 7rem;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #3b3b73 25%, #00d4ff 100%); }

.footer__logo {
  height: 50px;
  width: auto; }

.loguitos {
  color: #000;
  padding: 0.5rem; }

.copyright {
  color: white;
  padding: 1rem; }

@media screen and (max-width: 1024px) {
  .quienes {
    flex-direction: column; }
  .politica {
    flex-direction: column-reverse; }
  .politica__foto {
    margin-top: 1rem; }
  .tabla__foto__formacion {
    flex-direction: column;
    align-items: center; }
  .tabla__formacion {
    max-width: 100%; } }

@media screen and (max-width: 991px) {
  .links__nav {
    background-color: white; }
  .header__logo {
    max-width: 30%; }
  .foto__logos__clientesB {
    display: none; }
  .boton {
    width: 10rem;
    height: 3rem; }
  .fila__ma-padding {
    flex-direction: column-reverse; }
  .boton__peq {
    left: 40%; } }

@media screen and (min-width: 820px) {
  .boton:hover {
    width: 15rem;
    height: 6rem;
    background-color: #4940d1;
    margin-bottom: 1rem;
    font-size: 1.2rem; } }

@media screen and (max-width: 650px) {
  .top__servicios {
    height: 300px; }
  .titulo__botones {
    margin-top: -2rem;
    margin-bottom: 1rem; }
  .botones {
    transform: scale(0.8);
    flex-direction: column;
    margin-top: -2rem; }
  .botones a {
    padding-top: 0.5rem; }
  .boton {
    width: 10rem;
    height: 2rem; }
  .header__logo {
    max-width: 50%; }
  .footer__logo {
    display: none; }
  .foto__logos__clientesA {
    max-width: 80vw; }
  .boton__clientes {
    transform: scale(0.7);
    font-size: larger; }
  .titulo__clientes, .texto__clientes, .foto__clientes {
    width: 80%; }
  .texto__acordeon {
    font-size: 15px; }
  .carousel {
    width: 100%;
    height: auto; }
  .table {
    transform: scale(0.8);
    margin-left: -1.9rem; }
  .fila__tabla {
    margin-top: -3rem; }
  .texto__carousel h4 {
    font-size: 17px; }
  .texto__carousel p {
    display: none; }
  .foto__politica-invertir {
    flex-direction: column-reverse; }
  .datos__ACB h1 {
    font-size: 25px; }
  .datos__ACB h3 {
    font-size: 20px; } }
