
.header__contenedor {
    padding-top: 2%;
    padding-bottom: 2%;
    outline-style: solid;
    outline-color: rgb(15, 33, 201);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,115,1) 25%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
    align-items: center;
    
    

}  

.header__logo{
    max-width: 22%;
    width: 15rem ;
    height: auto;
    cursor: pointer;
    
    
}


.links__nav{
    justify-content:flex-end;
}


.links__nav{
    font-size: 20px ;
}
