

@media screen and (max-width: 1024px) {
    
    .quienes {
        flex-direction: column;
    }

    .politica{
        flex-direction:column-reverse;
    }

    .politica__foto {
        margin-top: 1rem;
    }

    .botones{
        transform: scale(0.8);
    } 

    .tabla__foto__formacion {
        flex-direction:column;
        align-items: center;
    
    }

    
    .tabla__formacion {
        max-width: 100%;
    }
   
}



@media screen and (max-width: 991px){
    .links__nav{
        background-color: white;

    }

    .header__logo{
        max-width: 30%;
        
    }

    .foto__logos__clientesB{
        display: none;
    }    

}

@media screen and (max-width: 650px){

    .detalle__valores{
        display:none
    }


    .botones{
        transform: scale(0.7);
        flex-direction: column;
        margin-top: -4rem;
        margin-bottom: 2rem;
       
    }

    .header__logo{
        max-width: 50%;
        
    }

    .footer__logo{
        display: none;
    }

    .foto__logos__clientesA{
        max-width: 80vw;
    }

    .boton__clientes{
        transform: scale(0.7);
        font-size: larger;
        
    }

    .titulo__clientes, .texto__clientes, .foto__clientes{
        width: 80%;
               
    }

    .texto__acordeon{
        font-size: 15px;
    }

    .carousel  {
        width: 100%;
        height: auto;
    }  
    .table{
        transform: scale(0.80);
        margin-left: -1.9rem;
    }

    .fila__tabla{
        margin-top: -3rem;
    }

    .foto__politica-invertir{
        flex-direction:column-reverse;
    }
}