

@media screen and (max-width: 1024px) {
    
    .quienes {
        flex-direction: column;
    }

    .politica{
        flex-direction:column-reverse;
    }

    .politica__foto {
        margin-top: 1rem;
    }

   
    .tabla__foto__formacion {
        flex-direction:column;
        align-items: center;
    
    }

    
    .tabla__formacion {
        max-width: 100%;
    }
   
}



@media screen and (max-width: 991px){
    .links__nav{
        background-color: white;

    }

    .bg__link__activo{
        border-radius: 0;
    }

    .header__logo{
        max-width: 30%;
        
    }

    .foto__logos__clientesB{
        display: none;
    }    

    
    .boton{
        width: 10rem;
        height: 3rem;
    }

    .fila__ma-padding{
        flex-direction: column-reverse;
    }

    .boton__peq{
        left: 40%;
    }
    

}
@media screen and (min-width:820px){
    .boton:hover{
    width: 15rem;
    height: 6rem;
    background-color: #4940d1; 
    margin-bottom: 1rem;
    font-size: 1.2rem;
    }
}

@media screen and (max-width: 650px){

    .top__servicios {
    
        height: 300px;
   
    }

    .titulo__botones{
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .botones{
        transform: scale(0.8);
        flex-direction: column;
        margin-top: -2rem;
              
    }

    .botones a{
        padding-top: 0.5rem;
    }

    .boton{
        width: 10rem;
        height: 2rem;
    }

    
    .header__logo{
        max-width: 50%;
        
    }

    .footer__logo{
        display: none;
    }

    .foto__logos__clientesA{
        max-width: 80vw;
    }

    .boton__clientes{
        transform: scale(0.7);
        font-size: larger;
        
    }

    .titulo__clientes, .texto__clientes, .foto__clientes{
        width: 80%;
               
    }

    .texto__acordeon{
        font-size: 15px;
    }

    .carousel  {
        width: 100%;
        height: auto;
    }  
    .table{
        transform: scale(0.80);
        margin-left: -1.9rem;
    }

    .fila__tabla{
        margin-top: -3rem;
    }

    .texto__carousel h4{
        font-size: 17px;
    }


    .texto__carousel p{
        display:none;
    }


    .foto__politica-invertir{
        flex-direction:column-reverse;
    }

    .datos__ACB h1{
        font-size: 25px;
    }

    .datos__ACB p{
        font-size: 18px;
    }
    
    .datos__ACB h3{
        font-size: 20px;
    }


}